.container {
    height: 100%;
    width: 100%;
    color: white;
    background:linear-gradient(
      90deg,
      rgba(118, 99, 99, 0.342) 50%,
      rgba(18, 18, 18, 0.274) 100%
    ), url(https://cdn.pixabay.com/photo/2019/01/13/09/21/horizon-3929969_1280.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-challenge{
    border: transparent;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background: url(https://png.pngtree.com/png-vector/20240320/ourmid/pngtree-astronaut-in-outer-space-abstraction-ai-generated-png-image_11957350.png);
    background-size: cover;
    background-position: center center;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.btn-new-module{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 10px 10px;
    margin: 0 auto;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
} 
  .btn-new-module:hover::before, .btn-new-module:hover::after {
    transform: scale(0)
  }
  
  .btn-new-module:hover {
    box-shadow: inset 0px 0px 100px #1479EA;
  }

  .btn-edit-module{
    position: absolute;
    bottom: 20px;
    right: 230px;
    width: auto;
    padding: 10px 10px;
    margin: 0 auto;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
} 
  .btn-edit-module:hover::before, .btn-edit-module:hover::after {
    transform: scale(0)
  }
  
  .btn-edit-module:hover {
    box-shadow: inset 0px 0px 100px #1479EA;
  }